In [1]:
import pandas as pd

import sqlite3

In [4]:
cd D:/SQLite

D:\SQLite

In [23]:
conn = sqlite3.connect("sample.db")

In [27]:
cur = conn.cursor()

res = cur.execute("select * from geo")
for row in res:
    print(row)

('G1', 'India', 'APAC')
('G2', 'USA', 'Americas')
('G3', 'Canada', 'Americas')
('G4', 'New Zealand', 'APAC')
('G5', 'Australia', 'APAC')
('G6', 'UK', 'Europe')

In [6]:
df = pd.read_csv(r"C:\Users\gangu\Desktop\earthquake.csv")

In [7]:
df

,earthquake_id,occurred_on,latitude,longitude,depth,magnitude,calculation_method,network_id,place,cause
0,1,1969-01-01 9:07:06,51.0960,-179.3920,45.00,5.6,mw,iscgem812771,"Andreanof Islands, Aleutian Islands, Alaska",earthquake
1,2,1969-01-02 17:50:48,-56.0960,-27.8420,80.10,6.0,mw,iscgemsup812819,South Sandwich Islands region,earthquake
2,3,1969-01-03 3:16:40,37.1400,57.8990,10.00,5.5,mw,iscgem812826,Turkmenistan-Iran border region,earthquake
3,4,1969-01-03 13:28:12,51.1320,-179.3060,15.00,5.9,mw,iscgem812841,"Andreanof Islands, Aleutian Islands, Alaska",earthquake
4,5,1969-01-04 22:36:48,-6.8500,129.8210,105.00,5.8,mw,iscgem812879,Banda Sea,earthquake
...,...,...,...,...,...,...,...,...,...,...
23114,23115,2018-12-26 14:11:22,-17.2789,-174.0153,120.00,5.7,mww,us2000ixpr,"149km S of Hihifo, Tonga",earthquake
23115,23116,2018-12-28 3:03:33,-1.4521,134.0850,41.00,5.7,mww,us2000iyhj,"64km S of Manokwari, Indonesia",earthquake
23116,23117,2018-12-29 3:39:10,5.8983,126.9209,60.21,7.0,mww,us2000iyta,"96km ESE of Pondaguitan, Philippines",earthquake
23117,23118,2018-12-30 8:39:12,-2.6772,102.3490,166.00,5.7,mww,us2000iz50,"89km NW of Lubuklinggau, Indonesia",earthquake
23118,23119,2018-12-31 2:35:38,54.4266,-161.5131,31.00,6.0,mww,us2000izcv,"114km SE of Cold Bay, Alaska",earthquake

In [8]:
df.to_sql(name = "Earthquake",con=conn,if_exists='replace',index=False)

23119

In [9]:
%load_ext sql

In [10]:
%sql sqlite:///sample.db

In [11]:
%%sql

select * from geo

 * sqlite:///sample.db
Done.

[('G1', 'India', 'APAC'),
 ('G2', 'USA', 'Americas'),
 ('G3', 'Canada', 'Americas'),
 ('G4', 'New Zealand', 'APAC'),
 ('G5', 'Australia', 'APAC'),
 ('G6', 'UK', 'Europe')]

In [14]:
pd.read_sql('select * from geo',conn)

  GeoID          Geo    Region
0    G1        India      APAC
1    G2          USA  Americas
2    G3       Canada  Americas
3    G4  New Zealand      APAC
4    G5    Australia      APAC
5    G6           UK    Europe

In [15]:
pd.read_sql_query('select * from geo',conn)

  GeoID          Geo    Region
0    G1        India      APAC
1    G2          USA  Americas
2    G3       Canada  Americas
3    G4  New Zealand      APAC
4    G5    Australia      APAC
5    G6           UK    Europe

In [28]:
conn.commit()

In [29]:
conn.close()