In [1]:
"""
topics we learned in this notebook

What is index?
Create Series with index?
Create Dataframe with index?
Rangeindex
customindex
df.set_index
df.index
df.reset_index


"""

In [2]:
import pandas as pd

In [ ]:
"""
Index:

Pandas Index is an immutable sequence used for indexing DataFrame and Series.
pandas.Index is a basic object that stores axis labels for all pandas objects.

DataFrame is a two-dimensional data structure, immutable, heterogeneous tabular data structure with labeled axis rows, and columns.
pandas Dataframe is consists of three components principal, data, rows, and columns. In DataFrame the row labels are called index.

Series is a one-dimensional array that is capable of storing various data types (integer, string, float, python objects, etc.)
We can easily convert the list, tuple, and dictionary into Series using the series() method.
In Series, the row labels are called the index. The Series can have only one column,
but it cannot contain multiple columns. List, NumPy Array, Dict can be turned into a pandas Series.

"""

#when we created a Dataframe it consists default index starting from zero and incrementing by 1.

Create Series with Index

Default Index

In [6]:
s = pd.Series(['A','B','C','D'])

In [7]:
s

0    A
1    B
2    C
3    D
dtype: object

In [ ]:
#This creates a Series with a default numerical index starting from zero.
#You can also set the Index with the custom values while creating a Series object.

Custom Index

In [8]:
idx= ['idx1','idx2','idx3','idx4','idx5']
s=pd.Series(['A','B','C','D','E'],index=idx)
print(s)

idx1    A
idx2    B
idx3    C
idx4    D
idx5    E
dtype: object

Range Index

In [ ]:
#Now letâ€™s create an Index from the RangeIndex() class. The below example creates Index starting from integer number 5.

In [9]:
idx=pd.RangeIndex(5,10)
s=pd.Series(['A','B','C','D','E'],index=idx)
print(s)

5    A
6    B
7    C
8    D
9    E
dtype: object

Create Dataframe with Index

In [12]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [29]:
df = pd.DataFrame(people)

In [30]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [15]:

#when we created a Dataframe it consists default index starting from zero and incrementing by 1.

In [31]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [32]:
df.set_index("email",inplace=True)

In [33]:
df.index

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [34]:
df.loc['CoreyMSchafer@gmail.com','last']

'Schafer'

In [35]:
df.iloc[0]

first      Corey
last     Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [36]:
df.reset_index(inplace=True)
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe