In [ ]:
"""
topics covered in this notebook

What is Dataframe?
What is Series?
pd.DataFrame -- creating Dataframe
df.columns   -- get columns of Dataframe
df[" "]   --Accessing single column from Dataframe
df[["",""]] --Accessing Multiple columns from Dataframe
df.loc[index,columns]
df.iloc[index,columns]

"""

In [1]:
#storing single person information in a dictionary

person = {
    "first": "Corey", 
    "last": "Schafer", 
    "email": "CoreyMSchafer@gmail.com"
}

In [2]:
#storing single person information in a dictionary format values in list

people = {
    "first": ["Corey"], 
    "last": ["Schafer"], 
    "email": ["CoreyMSchafer@gmail.com"]
}

In [3]:
#storing multiple persons information in a dictionary format values in list

people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [15]:
#when we access a column in above dictionary it printing all values in that column

people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [ ]:
"""
Dataframe:

A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

"""

In [5]:
import pandas as pd

In [16]:
#creating Dataframe
df = pd.DataFrame(people)

In [17]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [ ]:
"""
Series:

A series is basically a list of data 

it is a one dimensional data structure or array

but in laymans terms it is a rows of data means rows of single column

"""

In [8]:
#Accessing single column from Dataframe

df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [18]:
#Accessing single column from Dataframe

df.email

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [19]:
#Accessing Multiple column from Dataframe

df[['last', 'email']]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [20]:
# accessing columns from Dataframe
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [21]:
#getting first 2 rows with column email using iloc 

#df[index,columns]

df.iloc[[0, 1], 2]

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [13]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [22]:
#getting first 2 rows with columns email and last using loc 

#df[index,columns]
df.loc[[0, 1], ['email', 'last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe